/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Set Roboto as the default font for all elements */
* {
    font-family: 'Roboto', sans-serif;
}



/* # CSS for select boxes */

.selectize-input { min-height: 20px; padding: 2px 5px; border-radius: 8px; /* Add rounded corners */}
.selectize-dropdown, .selectize-input { font-size: 12px; border-radius: 8px; /* Add rounded corners */}
#y_channel_select { width: 200px; border-radius: 8px; /* Add rounded corners */}
#x_channel_select { width: 200px; border-radius: 8px; /* Add rounded corners */}


/* # CSS for centered select boxes */

.centered-select select {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}
.centered-select select option {
    text-align: left;
}
/* For Firefox */
@-moz-document url-prefix() {
    .centered-select select { text-align: center; }
}
.y-axis-select {
    transform: rotate(-90deg);
    transform-origin: right center;
    width: 200px;
    position: relative;
    top: 50%;
    left: -180px;  /* Adjust this value as needed */
    border-radius: 8px; /* Add rounded corners */
}

/* CSS for shiny buttons */
.pretty_button {
    background-color: #75a7b6 !important;
    border-radius: 8px !important; /* Add rounded corners */
}

#save_session {
    background-color: #75a7b6 !important;
    border-radius: 8px !important; /* Add rounded corners */
} 

#load_session {
    background-color: #75a7b6 !important;
    border-radius: 8px !important; /* Add rounded corners */
} 


/* CSS for shiny shiny-input-number */
.pretty_input {
    border-radius: 8px !important; /* Add rounded corners */
}

/* Ensure Roboto font is applied to specific elements */
body, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}



/* # CSS for custom icons */

.custom-btn {
    width: 50px;
    height: 50px;
    padding: 0;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: none;
}
.custom-btn:hover {
    background-color: rgba(173, 216, 230, 0.15) !important; /* Slight darkening on hover/focus/active */
    outline: none !important;
    box-shadow: none !important;
}
.custom-btn.active {
    background-color: rgba(173, 216, 230, 0.35) !important;
    outline: none !important;
    box-shadow: none !important;
}
#rectangle { background-image: url('rectangle.png'); }
#polygon { background-image: url('polygon.png'); }
#quadrant { background-image: url('quadrant.png'); }
#interval { background-image: url('interval.png'); }
.custom-btn-switch {
    transform: translate(200px, 0px);
    width: 50px;
    height: 50px;
    padding: 0;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: none;
}
.custom-btn-switch:hover {
    background-color: rgba(173, 216, 230, 0.15) !important; /* Slight darkening on hover/focus/active */
    outline: none !important;
    box-shadow: none !important;
}
#switch_channels { background-image: url('switch_channels.png'); }


/* # CSS for plot axes */

.x-axis {
    font: 12px sans-serif; 
}
.y-axis {
    font: 12px sans-serif; 
}


/* CSS for gating overlay container */
.gating_overlay.interactive {
    pointer-events: all;
  }
  
.gating_overlay.uninteractive {
    pointer-events: none;
}

/* CSS for gates */
.box {
    stroke: #333;
}
.handle {
    fill: white;
    stroke: #333;
    cursor: pointer;
}


/* Custom CSS for jsTree plus/minus icons */
.jstree-default .jstree-icon:empty {
    width: 16px;
    height: 16px;
    background-size: 16px;
}

.jstree-default .jstree-open > .jstree-icon:empty {
    background: url('data:image/svg+xml;utf8,<svg fill="currentColor" height="16" width="16" viewBox="0 0 16 16"><path d="M1 8h14v1H1V8z"/></svg>') no-repeat center center;
}

.jstree-default .jstree-closed > .jstree-icon:empty {
    background: url('data:image/svg+xml;utf8,<svg fill="currentColor" height="16" width="16" viewBox="0 0 16 16"><path d="M8 1v14h1V1H8zm7 7H1v1h14V8z"/></svg>') no-repeat center center;
}


/* Custom CSS for botUI */

.botui-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input.botui-actions-text-input {
    width: 100%;
}